*~
*.rviz
ex_calib_result.yaml
vins_result.csv
simulation.launch
simulation/
data_generator/
iphone.launch
iphone/
A3_rs/
A3_rs.launch
test/
test.launch
.idea
line_feature_tracker/line_descriptor/build
*/.idea
camera_model/cmake-build-debug/

line_feature_tracker/cmake-build-debug/

line_vins_estimator/cmake-build-debug/

pose_graph/cmake-build-debug/
